<div class="upload-container">
  <h1 class="title">School of Sorcery</h1>
  <p class="subtitle">Council Admission System - 2026/2027</p>

  <div
  class="upload-box"
  [class.dragging]="isDragging"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)">

  <p class="upload-label">Drop your applications file here</p>

  <label class="upload-btn" for="file-input">
     or choose file
    <input
      id="file-input"
      type="file"
      accept=".json"
      (change)="onFileSelected($event)"
      style="display:none"
    />
  </label>
   <p class="upload-hint">JSON only</p>

  @if (loading) {
    <div class="loading">Hold your Hippogriffs...</div>
  }

  @if (error) {
    <div class="error">{{ error }}</div>
  }
</div>
</div>
